* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background: #0f172a;
  color: #fff;
}

/* Navbar */
nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #020617;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #38bdf8;
}

/* Hero */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: #38bdf8;
}

.btn {
  margin-top: 20px;
  padding: 12px 24px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

/* Sections */
.section {
  padding: 80px 40px;
  text-align: center;
}

.skills span {
  display: inline-block;
  background: #1e293b;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.skills span:hover {
  background: #38bdf8;
  color: black;
}

/* Projects */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}
.contact {
  min-height: 80vh;              
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-btn {
  margin-top: auto;              
  margin-bottom: 40px;           
}


/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}

/* Responsive */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }
}
