* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #1db954, #121212);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
}

.player {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    width: 330px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 15px 40px rgba(0,0,0,0.6);
    text-align: center;
}

.cover img {
    width: 100%;
    height: 220px;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: 15px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 14px;
    color: #b3b3b3;
    margin-bottom: 15px;
}

.progress-container {
    background: #333;
    height: 6px;
    border-radius: 10px;
    cursor: pointer;
}

.progress {
    height: 100%;
    width: 0%;
    background: #1db954;
    border-radius: 10px;
}

.time {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 5px 0 15px;
    color: #aaa;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.controls button {
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.controls button:hover {
    transform: scale(1.2);
    color: #1db954;
}

.play-btn {
    background: #1db954;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 26px;
    color: black;
}

.volume {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.volume input {
    width: 100%;
}

ul {
    list-style: none;
    max-height: 120px;
    overflow-y: auto;
    margin-top: 10px;
}

li {
    padding: 8px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

li:hover {
    background: #1db954;
    color: black;
}
